<!-- Travtip => (Shift + Option + F) to format code -->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <!-- Or let Bootstrap automatically handle the layout -->
  <div class="container">
    <div class="row">
      <div class="col">Label Text</div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Item-1</a>
            <a class="dropdown-item" href="#">Item-2</a>
            <a class="dropdown-item" href="#">Item-3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">Label Text</div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Item-1</a>
            <a class="dropdown-item" href="#">Item-2</a>
            <a class="dropdown-item" href="#">Item-3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">Label Text</div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Item-1</a>
            <a class="dropdown-item" href="#">Item-2</a>
            <a class="dropdown-item" href="#">Item-3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">Label Text</div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Item-1</a>
            <a class="dropdown-item" href="#">Item-2</a>
            <a class="dropdown-item" href="#">Item-3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>ß